/* TourForm.css */

.head {

    font-size: 40px;

    color: #19105b;

    margin-left: 230px;

    margin-top: 40px;

    font-weight: 620;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  }

 

.container {

    max-width: 100%;

    padding: 0 15px;

    margin: 0 auto;

    margin-left: 5%;

  }

 

  h1 {

    text-align: center;

    margin-top: 20px;

  }

 

  table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

  }

 

  th, td {

    border: 1px solid #ddd;

    padding: 8px;

    text-align: left;

  }

 

  tr:nth-child(even) {

    background-color: #f2f2f2;

  }

 

  .btn-primary {

    margin-top: 20px;

  }

 

  .modal-dialog {

    max-width: 600px;

    margin: 30px auto;

  }

 

  .modal-body label {

    font-weight: bold;

  }

 

  @media (max-width: 768px) {

    h1 {

      font-size: 24px;

    }

 

    table {

      font-size: 14px;

    }

  }




/* 
.tour-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
  }
  
  .tour-form {
    width: 50%;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    width: calc(100% - 20px);
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {

    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  } */
  