/* ManageTourPackages.css */

/* Style for the accordion */
.accordion {
  width: 100%; /* Cover full width */
  box-sizing: border-box;
}

.my-heading{
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.my-heading h2{
  color: black;
  text-align: center;
  font-size: 20px !important;
}

.my-heading span{
  background-color: #005280;
  color: white;
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
}

.accordion-header {
  background-color: #005280;
  cursor: pointer;
  padding: 10px 20px;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  color: white;
}

/* .accordion-header.open {
  background-color: #ccc;
} */

.accordion-content {
  padding: 10px 20px;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}

/* Style for the table */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.responsive-table td{
  color: #005280;
  font-weight: 700;
}

/* Add responsive styles */
@media (max-width: 768px) {
  .accordion-content {
    overflow-x: auto;
  }
}
